.btn {
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  margin: 0 8px;
  margin: 4px;
}

.btn:hover {
  transform: translateY(-1px);
}

/* Χρώματα ανά variant */
.primary {
  background-color: #0078ff;
  color: white;
}

.primary:hover {
  background-color: #0066d1;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.success:hover {
  background-color: #218838;
}

.danger {
  background-color: #dc3545;
  color: white;
}

.danger:hover {
  background-color: #b02a37;
}

.secondary {
  background-color: #6c757d;
  color: white;
}

.secondary:hover {
  background-color: #5a6268;
}
